.sortingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 2rem;
}

.sortingContainer p {
  align-self: flex-start;
  margin-left: 7%;
  /* font-size: 1.2rem; */
  color: #ffffff;
}

.sortingContainer select {
  width: 87%;
  /* max-width: 400px; */
  padding: 0.75rem 1rem;
  background-color: #1c1d1f;
  color: #ffffff;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 15px;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
  cursor: pointer;
}
